@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.body {
  padding: 5em;
  padding-top: 10em;
  display: flex;
  backdrop-filter: blur(3px);

}

h1.name {
  font-size: 6vh;
}

h1.name span span {
  text-shadow: 3px 3px 0px rgba(35, 8, 235, 0.1);
  color: rgb(89, 155, 247);
  position: relative;
  bottom: -1em;
  opacity: 0;
  font-weight: 900;
  animation: move-text 0.2s forwards;
  font-size: 6vh;
}

h2.intro {
  font-weight: 600;
  color: rgb(89, 155, 247);
  margin-top: 2vh;
}
h2.intro span span {
  color: rgb(89, 155, 247);
  position: relative;
  bottom: -1em;
  opacity: 0; 
  animation: move-text 0.2s forwards;
  font-size: 3vh;
  text-align: left;
  left: 5vh;
}
/*
h1 span span:nth-child(2n) { color: lightseagreen; }
h1 span span:nth-child(3n) { color: orange; }
h1 span span:nth-child(4n) { color: dodgerblue; }
h1 span span:nth-child(5n) { color: blueviolet; }
*/
@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }
  
  50% {
    bottom: 0.2em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}


@media screen and (max-width: 500px) {
  body {
    transform: scale(0.75);
  }
}

.text {
  display: flex;
  flex-direction: column;
  width: 60vw;
  text-align: left;
  left: 5vh;
  font-weight: 600;
  color: #353239;
  text-decoration-color: rgb(89, 155, 247);
  margin-right: 4vw;
}

.inner {
  width: fit-content;
}

.pfp{
  border-radius: 50%;
}

#image {
  display: flex;
  flex-wrap: wrap;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
  }
}