@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
  scroll-behavior: smooth;
  font-family: 'Ubuntu'; 
  margin: 0px;
  padding: 0;
}

.Section-Title{
    font-family: 'Ubuntu'; 
    text-align: center;
    font-size: 6vh;
    font-weight: 900;
}

.Background-White{
  background-image: -webkit-linear-gradient(bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0.9) 5%,
    /* % tells you how much to darken from the left*/
    rgba(0,0,0,0.6) 20%,
    /* % tells you how much to darken from the left*/
    rgba(0,0,0,0.6) 80%,
    rgba(0,0,0,0.7) 100%
  ),
  url("./pics/background.webp");
  padding: 0px;
  background-size: cover;
  /* background-size: 100% 100%; */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  
}

.Background-Blue{
    padding: 0px;
    background-image: -webkit-linear-gradient(left, 
    rgba(15, 23, 252, 0.9) 0%, 
    /* % tells you how much to darken from the left*/
    rgba(15, 23, 252,0.6) 20%,
    /* % tells you how much to darken from the left*/
    rgba(15, 23, 252,0.6) 80%,
    rgba(15, 23, 252,0.9) 100%
    );
    filter: brightness(100%);
}

.Background-Particles{
  background-image: -webkit-linear-gradient(left, 
    rgba(15, 23, 252, 0.9) 0%, 
    /* % tells you how much to darken from the left*/
    rgba(15, 23, 252,0.6) 20%,
    /* % tells you how much to darken from the left*/
    rgba(15, 23, 252,0.6) 80%,
    rgba(15, 23, 252,0.9) 100%
  );
  padding: 0px;
  background-size: cover;
  filter: brightness(100%);
  /* background-size: 100% 100%; */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  
}

.navbar {
  opacity: 0.95;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}