@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.blurdiv {
    backdrop-filter: blur(5px);
    /* filter: blur(8px); */
}


#techskills {
    text-align: center;
    padding-top: 20px;
    color: white;
}

#skillmark {
    color: #3b82f6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.8rem;

}

.skills-icons img {
    transition: 0.5s;
    padding: 1rem 1.5rem 0.8rem 1.5rem;
    width: 40px;
    height: 40px;
}

.skill-name {
    margin: 0.01rem; 
    text-align: center;
    transition: 0.5s;
    color: white;
}

.skills-icons:hover img {
    transition: 0.5s;
    transform: scale(1.4);
    justify-content: center;
    align-items: center;
}

.skills-icons:hover p {
    transition: 0.5s;
    transform: scale(1.4);
    justify-content: center;
    align-items: center;
}

/* WAVES */

.temp_wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.temp_wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}

.temp_wave .shape-fill {
    fill: #ffffff;
}

.wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}

.wave .shape-fill {
    fill: url(#Gradient1);
    /* fill: #0e39c8; */
}
.stop1 { stop-color:  rgba(15, 23, 252, 0.9); }
.stop2 { stop-color: rgba(15, 23, 252,0.6); }
.stop3 { stop-color: rgba(15, 23, 252,0.6); }
.stop4 { stop-color: rgba(15, 23, 252,0.9); }


.temp_wave_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.temp_wave_bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.temp_wave_bottom .shape-fill {
    /* fill: rgb(9, 92, 124); */
    fill: #ffffff;
}


.wave-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.wave-bottom .shape-fill {
    /* fill: rgb(9, 92, 124); */
    fill: url(#Gradient1);
}